@tailwind base;
@tailwind components;
@tailwind utilities;

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-chart {
  display: block;
  width: 250px;
}

.circle-bg {
  fill: none;
  stroke: #363636;
  stroke-width: 1;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke: #57ea6b;
}

.percentage {
  fill: #363636;
  font-size: 0.5em;
  text-anchor: middle;
  font-family: Helvetica;
  font-weight: bold;
}

@keyframes progress {
  0% {
    stroke: transparent;
    stroke-dasharray: 0 100;
  }
}
